.buttons {
  &__button {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 24px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 12px;
    border-radius: 15px;
    background-color: transparent;
    color: #000;
    border: 1px solid #000;
    transition: 0.4s;

    &:hover {
      cursor: pointer;
      background-color: #559b8e;
      color: #fff;
      border-style: none;
    }
  }

  &--green {
    background-color: #559b8e;
    color: #fff;
    border-style: none;

    &:hover {
      background-color: transparent;
      color: #000;
      border: 1px solid #000;
    }
  }
}

@media screen and (min-width: 1024px) {
  .buttons {
    &__button {
      width: 135px;
      height: 32px;
      font-size: 15px;
      border-radius: 20px;
    }
  }
}
