.home {
  text-align: center;
}

.home__background__mobile {
  background-color: #e8b4b8;
  top: 270px;
  position: absolute;
  z-index: -1;
}

.home__card {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.home__background__web {
  display: none;
}

@media screen and (min-width: 1024px) {
  .home__background__web {
    display: flex;
    background-color: #e8b4b8;
    position: absolute;
    z-index: -1;
    width: 40%;
    height: 85%;
    top: 123px;
  }

  .home__background__mobile {
    background-color: transparent;
    top: auto;
    position: relative;
    z-index: 0;
  }

  .home__inner {
    display: flex;
    justify-content: center;
  }

  .home__card {
    margin-top: 80px;
  }

  .home__footer {
    display: flex;
    justify-content: center;
  }
}
