.abstract {
  background-color: #e8b4b8;
  top: 250px;
  position: absolute;
  z-index: -1;

  &__inner {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 54px 30px;
  }

  &__title {
    margin: 0;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 40px;
  }

  &__subtitle {
    font-family: Poppins, sans-serif;
    font-size: 19px;
    margin: 10px 0;
  }

  &__text {
    font-family: Poppins, sans-serif;
    text-align: start;
    font-size: 16px;
    font-weight: 300;
    margin: 8px 0;
  }
}
